$white:    #fff;
$red:     #dc3545;
$body-bg: $white;
$body-color: $white;

/* custom vars */
$custom-font-size: 50px;
$brand-color: #0995ea;
$brand-red: #d40808;

$entrepreneurs: #0b299a;
$philanthropists: #056d21;
$challenges: #d2a809;