
.container p {
    padding-left: 0.5em;
}

#joinNow .col-sm-6 {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

#joinNow i {
    font-size: 3em;
    margin-bottom: 1em;
}

#joinNow h4 {
    text-transform: uppercase;
}

#entrepreneurs i, #entrepreneurs h4 {
    color: $entrepreneurs;
}

#challenges i, #challenges h4 {
    color: $challenges;
}

#philanthropists i, #philanthropists h4 {
    color: $philanthropists;
}

.aboutUsVideo iframe {
    width: 100%;
    height: -webkit-fill-available;
    min-height: 500px;
    margin-bottom: 2.5em;
    margin-top: 1.5em;
}

#aboutUs .row {
    min-height: 50vh;
}

.aboutUsVideo iframe {
    width: 100%;
    height: -webkit-fill-available;
    max-height: 50vh;
}

.tileHeader a {
    min-width: 100%;
    padding: 1em;
    background:$brand-color;
    width: 5em !important;
    margin: 0.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
section#aboutUs {
    background: $brand-color;
    color: white;
}
#aboutUs h1 {
    padding-left: 0;
    color: white;
}
i.fa.fa-envelope {
    color: $brand-color;
    background: white;
}
section.container {
    min-height: 90vh !important;
}

.lightbulbImg {
    padding: 2em;
    padding-top: 0;
    margin-top: -2em;
    height: 50%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
#joinNow .row {
    padding-top: 4em;
    padding-bottom: 4em;
}
#joinNow b {
    padding: 1em;
    background: #0995ea;
    color: white;
}

section#principles {
    background: #2d6d21;
    color: white;
}

section#principles h1 {
    color: white;
}


#principles .col-sm-8 {
    padding-top: 2em;
}


#principles .col-sm-4 {
    padding-top: 5em;
    font-size: 1.25em;
}

#principles span, #principles a {
    text-align: center;
    display: block;
    color: white;
}
#principles a, #download a, #contactUs a {
    padding: 0.25em;
    border: solid 1px white;
    margin-top: 1em;
    text-transform: uppercase;
}

#principles a:hover, #download a:hover, #contactUs a {
    color: #95c0da;
    border: solid 1px #95c0da;
}


#download h1, #download span, #download a, #contactUs h1, #contactUs span, #contactUs a {
    text-align: center;
    max-width: 80%;
    margin: auto;
    display: block;
}

#download a, #contactUs a {
    max-width: 200px;
    border: 1px black solid;
    color: black;
    font-weight: 600;
    margin-top: 2em;
}

section#download, section#contactUs {
    display: table;
}
#download .row, #contactUs .row {
    display: table-cell;
    vertical-align: middle;
}




/* Jumbotron */

.tileHeader h1 {
    color: black;
}
.jumbotron p {
    color: grey;
    padding-left: 0.5em;
}
.jumbotron .col-sm-6 {
    color: white;
    margin: 0;
    max-width: calc(50% - 1em);
    display: inline-block;
    float: left;
}
.jumbotron img {
    max-width: 70%;
}
.col-sm-6.cube {
    text-align: center;
}
.col-sm-6.text {
    padding-right: 4em;
}

.tileHeader {
    background: url(/assets/img/headerBackgroundTile.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.jumbotron h1 {
    margin-top: 1em;
}
.tileHeader button {
    background: #fb443d;
    color: white;
    border: none;
    font-size: 1.25em;
    padding: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
    margin-left: 1em;
}

/* Jumbotron Mailchimp */
.tileHeader div#mc_embed_signup_scroll {
    margin-left: 1em;
}
.tileHeader input#mce-EMAIL {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.45em;
}
.tileHeader input#mc-embedded-subscribe {
    width: 100%;
    background: $brand-color;
    color: white;
    border: none;
    font-size: 1.25em;
    padding: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
}


/* Call to action */
section.container.bciCallToAction {
    background: url(/assets/img/cta_background.jpg);
    background-size: cover;
    color: white;
}
.bciCallToAction h1 {
    color: white;
}
.col-sm-6.bciCallout {
    margin-top: 5em;
    margin-bottom: 5em;
    margin-right: 0;
    background: white;
}
.bciCallout img {
    margin: 7em;
    margin-right: 7em;
    width: calc(100% - 14em);
    margin-top: 2em;
    margin-bottom: 1em;
}
.bciCallout span {
    font-size: 1.5em;
    color: #1f98a3;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.25em;
    letter-spacing: -0.01em;
}

/* CTA Mailchimp */
/* Jumbotron Mailchimp */
.bciCallToAction div#mc_embed_signup_scroll {
    margin-left: 1em;
}
.bciCallToAction input#mce-EMAIL {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.45em;
}
.bciCallToAction input#mc-embedded-subscribe {
    width: 100%;
    background: #fb443d;
    color: white;
    border: none;
    font-size: 1.25em;
    padding: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.bciCallToAction p {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.25em;
}

section.container.imageWideContainer {
    padding: 0;
}

.row.imageWide {
    background: url(/assets/img/comeTogether.jpg);
    background-size: cover;
    background-position-y: 681px;
    min-width: 100vw;
    padding: 0;
    height: fit-content;
    height: -moz-fit-content;
}

.col-sm-6.whiteSideBar {
    background: linear-gradient(to right, white 75%, #ffff0000);
    min-height: calc(100% + 50px);
    font-size: 0.75em;
    padding-right: 20%;
    padding-bottom: 3em;
    padding-top: 3em;
}

.mobileImageWideContainer {
    display: none;
}


section#aboutUs {
    display: table;
}

#aboutUs .col-sm-4 {
    max-width: 200px;
}

#aboutUs .col-sm-4, #aboutUs .col-sm-8 {
    display: table-cell;
    vertical-align: middle;
    width: unset;
}

#aboutUs .row {
    min-height: fit-content;
    display: table-row;
}


section#principles {
    background: #2d6d21;
    color: white;
    display: table;
}
#principles .row {
    display: table-cell;
    vertical-align: middle;
}

.teal {
    color: $brand-color;
}

.tileHeader a.callToActionButton {
    background: $brand-red;
}

.container a.callToActionButton {
    margin-left: 0.5em;
    padding: 0.5em;
    background: #0995ea;
    color: white;
    text-transform: uppercase;
    padding-left: 1em;
    padding-right: 1em;
}