---
---
@import "main";

@import "homepageElements";

@import "homepageResponsive";

.container p {
    padding-left: 0.5em;
}

#joinNow .col-sm-4 {
    text-align: center;
}

#joinNow i {
    font-size: 3em;
    margin-bottom: 1em;
}

#joinNow h4 {
    text-transform: uppercase;
}

#entrepreneurs i, #entrepreneurs h4 {
    color: $entrepreneurs;
}

#challenges i, #challenges h4 {
    color: $challenges;
}

#philanthropists i, #philanthropists h4 {
    color: $philanthropists;
}