---
---
@import "main";

@import "homepageElements";

@import "homepageResponsive";

.container p {
    padding-left: 0.5em;
}

#joinNow .col-sm-4 {
    text-align: center;
}

#joinNow i {
    font-size: 3em;
    margin-bottom: 1em;
}